@page
@model Mission7.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>A confirmation email has been sent.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>